.container {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1272px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1025.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 90%;
    padding: 0 10px;
  }
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), url("../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-size: 10px;
  line-height: 15px;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5em;
  color: #fff;
  margin: 0;
  padding: 0;
  background: url("../img/ellipses.svg") #3E2F7A center right/100vh no-repeat;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em;
  font: inherit;
  color: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  background: #51CD8D;
}

.promo {
  display: block;
  min-height: 100vh;
  padding: 60px 0 90px;
}

.promo__logo {
  width: 180px;
  height: 50px;
}

.promo__logo-img {
  width: 100%;
}

.promo__medal {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 160px;
  height: 200px;
  background: url("../img/icons/medal.svg") center right no-repeat;
}

.promo__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__hero {
  position: fixed;
  bottom: -1%;
  right: 12%;
  width: 25vw;
}

.promo__hero-img {
  width: 100%;
}

.promo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 550px;
  padding-top: 50px;
}

.promo__text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.promo__title {
  font-family: "Museo Sans Cyrl 700", Arial, sans-serif;
  font-size: 27px;
  color: #FFB800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.promo__description {
  font-family: "Museo Sans Cyrl 900", Arial, sans-serif;
  font-weight: 900;
  font-size: 75px;
  line-height: 120%;
  max-width: 570px;
  margin-top: -10px;
}

.promo__btn {
  background: #3CB878;
  border-radius: 70px;
  text-transform: uppercase;
  padding: 25px 50px;
  font-family: "Museo Sans Cyrl 500", Arial, sans-serif;
  font-size: 21px;
  letter-spacing: 0.1em;
  margin-top: 30px;
}

.promo .promo {
  padding: 0 0 90px 0;
}

.promo .promo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  height: 55px;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promo .promo__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 65px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  background: url("../img/icons/Ellipse.svg") no-repeat;
  left: 0;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  height: inherit;
}

.promo .promo__item.item1::before {
  content: '1';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 24px;
  font-weight: 500;
}

.promo .promo__item.item2::before {
  content: '2';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 24px;
  font-weight: 500;
}

.promo .promo__item.item3::before {
  content: '3';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 24px;
  font-weight: 500;
}
