	html {
		box-sizing: border-box;
		overflow: hidden;
		font-size: 10px;
		line-height: 15px;
	}

	*,
	::before,
	::after {
		box-sizing: inherit;
	}

	body {
		font-family: $font300;
		font-size: 1.5rem;
		line-height: 1.5em;
		color: #fff;
		margin: 0;
		padding: 0;
		background: url('../img/ellipses.svg')$primColor center right / 100vh no-repeat;
	}


	a {
		text-decoration: none;
	}

	button {
		outline: none;
		cursor: pointer;
	}

	.btn {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		padding: 0.5em 1em;
		font: inherit;
		color: inherit;
		transition: all 0.5s;

		&:hover {
			background: #51CD8D;
		}
	}

	.promo {
		display: block;
		min-height: 100vh;
		padding: 60px 0 90px;


		&__logo {
			width: 180px;
			height: 50px;
		}

		&__logo-img {
			width: 100%;
		}

		&__medal {
			position: absolute;
			right: 30px;
			top: 30px;
			width: 160px;
			height: 200px;
			background: url('../img/icons/medal.svg') center right no-repeat;
		}

		&__header {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__hero {
			position: fixed;
			bottom: -1%;
			right: 12%;
			width: 25vw;

			&-img {
				width: 100%;
			}
		}


		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: column;
			min-height: 550px;
			padding-top: 50px;

		}

		&__text {
			flex-basis: 70%;

		}

		&__title {
			font-family: $font700;
			font-size: 27px;
			color: $secColor;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		&__description {
			font-family: $font900;
			font-weight: 900;
			font-size: 75px;
			line-height: 120%;
			max-width: 570px;
			margin-top: -10px;
		}

		&__btn {
			background: $green;
			border-radius: 70px;
			text-transform: uppercase;
			padding: 25px 50px;
			font-family: $font500;
			font-size: 21px;
			letter-spacing: 0.1em;
			margin-top: 30px;
		}

		.promo {
			padding: 0 0 90px 0;

			&__items {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 800px;
				height: 55px;
				margin-top: 50px;
				flex-wrap: wrap;
			}

			&__item {
				position: relative;
				display: inline-flex;
				padding-left: 65px;
				flex-basis: 33%;
				background: url('../img/icons/Ellipse.svg') no-repeat;
				left: 0;
				align-items: inherit;
				height: inherit;

				&.item1::before {
					content: '1';
					display: flex;
					position: absolute;
					left: 21px;
					align-items: center;
					width: 55px;
					height: 55px;
					font-family: 'Museo Sans Cyrl 500';
					font-size: 24px;
					font-weight: 500;
				}

				&.item2::before {
					content: '2';
					display: flex;
					position: absolute;
					left: 21px;
					align-items: center;
					width: 55px;
					height: 55px;
					font-family: 'Museo Sans Cyrl 500';
					font-size: 24px;
					font-weight: 500;
				}

				&.item3::before {
					content: '3';
					display: flex;
					position: absolute;
					left: 21px;
					align-items: center;
					width: 55px;
					height: 55px;
					font-family: 'Museo Sans Cyrl 500';
					font-size: 24px;
					font-weight: 500;
				}
			}
		}

	}