	html {
		box-sizing: border-box;
		overflow: hidden;
		font-size: 10px;
		line-height: 15px;
	}

	*,
	::before,
	::after {
		box-sizing: inherit;
	}

	body {
		font-family: $font300;
		font-size: 1.5rem;
		line-height: 1.5em;
		color: #fff;
		margin: 0;
		padding: 0;
		background: url('../img/ellipses.svg')$primColor center right / 100vh no-repeat;
	}


	a {
		text-decoration: none;
	}

	button {
		outline: none;
		cursor: pointer;
	}

	.btn {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		padding: 0.5em 1em;
		font: inherit;
		color: inherit;
		transition: all 0.5s;
		// &:hover {

		// }
	}

	.promo {
		display: block;
		min-height: 100vh;
		padding: 60px 0 0 0;


		&__logo {
			width: 180px;
			height: 50px;
		}

		&__logo-img {
			width: 100%;
		}

		&__medal {
			position: absolute;
			right: 30px;
			top: 30px;
			width: 160px;
			height: 200px;
			background: url('../img/icons/medal.svg') center right no-repeat;
		}

		&__header {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__hero {
			position: fixed;
			bottom: -5px;
			right: 12%;
			width: 25vw;

			&-img {
				width: 100%;
			}
		}


		&__inner {
			display: flex;
			position: inherit;

		}

		&__text {
			margin-top: 100px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: column;
			min-height: 330px;

		}

		&__title {
			font-family: $font700;
			font-size: 27px;
			color: $secColor;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		&__description {
			font-family: $font900;
			font-weight: 900;
			font-size: 75px;
			line-height: 120%;
			max-width: 570px;
		}

		&__btn {
			background: $green;
			border-radius: 70px;
			text-transform: uppercase;
			padding: 25px 50px;
			font-family: $font500;
			font-size: 21px;
			letter-spacing: 0.1em;
			margin-top: 40px;
		}

		.promo {

			&__items {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 800px;
				margin-top: 185px;
			}

			&__item {
				display: inline-flex;
				margin-left: 65px;
			}
		}

	}