	html {
		box-sizing: border-box;
		overflow-x: hidden;
		font-size: 10px;
		line-height: 15px;
	}

	*,
	::before,
	::after {
		box-sizing: inherit;
	}

	body {
		font-family: $font300;
		font-size: 1.5rem;
		line-height: 1.5em;
		color: #fff;
		margin: 0;
		padding: 0;
		background: url('../img/ellipses.svg')$primColor center right / 100vh no-repeat;
	}


	a {
		text-decoration: none;
	}

	button {
		outline: none;
		cursor: pointer;
	}

	.btn {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		padding: 0.5em 1em;
		font: inherit;
		color: inherit;
		transition: all 0.5s;

		&:hover {
			background: #51CD8D;
		}
	}

	.promo {
		display: block;
		min-height: 100vh;
		padding: 60px 0 90px;


		&__logo {
			width: 180px;
			height: 50px;
		}

		&__logo-img {
			width: 100%;
		}

		&__medal {
			position: absolute;
			right: 30px;
			top: 30px;
			width: 160px;
			height: 200px;
			background: url('../img/icons/medal.svg') center right no-repeat;
		}

		&__header {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__hero {
			position: absolute;
			bottom: -60px;
			right: 12%;

			@media (max-width: 1272px) {
				bottom: -4%;
				transform: scale(0.9);
			}

			@media (max-width: 1240px) {
				bottom: -7%;
				transform: scale(0.8);
				right: 10%;
			}


			@media (max-width:1025px) {
				right: 3%;
			}

			@media (max-width:925px) {
				display: none;
			}

			&-img {
				width: 100%;
			}
		}


		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: column;
			height: 80vh;
			padding-top: 130px;

		}

		// &__text {}

		&__title {
			font-family: $font700;
			font-size: 27px;
			color: $secColor;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		&__description {
			font-family: $font900;
			font-weight: 900;
			font-size: 75px;
			line-height: 120%;
			max-width: 570px;
			margin-top: -10px;
		}

		&__btn {
			background: $green;
			border-radius: 70px;
			text-transform: uppercase;
			padding: 25px 50px;
			font-family: $font500;
			font-size: 21px;
			letter-spacing: 0.1em;
			margin-top: 30px;
		}

		.promo {
			padding: 0 0 90px 0;

			&__items {
				flex-wrap: wrap;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				max-width: 800px;
				margin-top: 50px;
				flex-wrap: wrap;

<<<<<<< HEAD
				@media (max-width:1274px) {
					max-width: 700px;

				}

				@media (max-width:1025px) {
					max-width: 686px;

=======
				@media (max-width:1272px) {
					max-width: 700px;
				}

				@media (max-width:1199px) {
					max-width: 650px;
				}

				@media (max-width:925px) {
					min-width: 100%;
>>>>>>> 101911b90b7f9e64eb9b73d711d4fd00235d3d44
				}
			}

			&__item {
				position: relative;
				display: inline-flex;
				padding-left: 65px;
				flex-basis: 30%;
				background: url('../img/icons/Ellipse.svg') no-repeat;
				left: 0;
				align-items: inherit;
				height: inherit;
				height: 55px;
				width: 255px;
				margin-right: 10px;

				&.item1::before {
					content: '1';
					display: flex;
					position: absolute;
					left: 21px;
					align-items: center;
					width: 55px;
					height: 55px;
					font-family: 'Museo Sans Cyrl 500';
					font-size: 24px;
					font-weight: 500;
				}

				&.item2::before {
					content: '2';
					display: flex;
					position: absolute;
					left: 21px;
					align-items: center;
					width: 55px;
					height: 55px;
					font-family: 'Museo Sans Cyrl 500';
					font-size: 24px;
					font-weight: 500;
				}

				&.item3::before {
					content: '3';
					display: flex;
					position: absolute;
					left: 21px;
					align-items: center;
					width: 55px;
					height: 55px;
					font-family: 'Museo Sans Cyrl 500';
					font-size: 24px;
					font-weight: 500;
				}
			}
		}

	}